<template>
    <div class="row">

        <h2>{{ provider_display }} Users for {{ orgname }}</h2>
        <i v-show="loading" class="fa fa-3x fa-cog fa-spin"></i>
        <div v-for="member in members" style="margin-bottom: 8px; padding: 6px; max-width: 450px;" :class="{ 'bg-success' : member.org_admin }" >
            <a :href="member.link" :title="provider_display + ' Profile for ' + member.login" target="_blank" style="">
                <img :src="member.avatar_url" style="max-width: 50px; margin-right: 20px;" />
                {{ member.login }}
            </a>
            <a :href="'/' + provider + '/organization/' + orgname +'/remove/' + member.login" class="btn btn-danger pull-right">Remove</a>
        </div>
        
    </div>
</template>

<script>

    export default{
        props: [
            'provider',
            'orgname'
        ],
        computed: {
            provider_display: function () {
                if (this.provider == 'bitbucket') {
                    return 'BitBucket';
                }
                return 'GitHub';
            }
        },
        data: function(){
            return {
                loading: true,
                members: []
            }
        },

        created(){
            axios.get('/api/' + this.provider + '/organization/' + this.orgname + '/members')
                  .then(response => {
                      this.members = response.data,
                      this.loading = false
                      }
                  )
        }
    }

</script>
