<template>
    <div class="row">

        <i v-show="loading" class="fa fa-3x fa-cog fa-spin"></i>
        <div v-for="repo in repos" style="margin-bottom: 8px; padding: 6px; max-width: 850px;" class="" >
            <div v-bind:class="{ 'bg-danger' : repo.private }" class="repo-line">
                <a :href="'/' + provider + '/repository/' + username + '/' + repo.name + '/details'" :title="'Details for ' + repo.display_name" target="_blank" style="">
                    <strong>{{ repo.display_name }}</strong>
                </a>
                <a :href="'/' + provider + '/repository/' + username + '/' + repo.name + '/commits'" class="btn btn-primary btn-xs pull-right">Commits</a>

                <button @click="trackRepo(repo)"
                        :disabled="repo.tracked"
                        class="btn btn-primary btn-xs pull-right"
                        v-bind:class="{ 'btn-success' : repo.tracked, 'btn-primary' : !repo.tracked }"
                        style="margin:0 8px;">
                        <span v-if="repo.tracked">Tracked</span><span v-else>Track</span>
                </button>
                <br />
                {{ repo.description }}
            </div>
        </div>

    </div>
</template>

<script>

    export default{
        props: [
            'provider',
            'username'
        ],

        data: function(){
            return {
                loading: true,
                repos: []
            }
        },

        methods: {
            trackRepo: function(repo) {
                var trackURL = '/api/' + this.provider + '/repository/' + this.username + '/'+repo.name+'/track';
                axios.get(trackURL)
                    .then(function(response) {
                        repo.tracked = true
                    });
            }
        },

        created(){
            axios.get('/api/' + this.provider + '/user/repos')
                .then(response => {
                    this.repos = response.data,
                    this.loading = false
                    }
                )
        }
    }

</script>
